.side-container {
    min-width: 200px;
  }
  
  .content-container {
    padding: 10px;
  }

  .mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  .menu {
    order: 1;
  }
  
  .home {
    order: 2;
  }
  
  .account {
    order: 4;
  }
  
  .propnote {
    flex-grow: 1;
    order: 3;
    text-align: center;
  }
  