button {
  margin-right: 8px;
}

.search-container {
  display: flex;
  align-items: left;
  width: 50%;
  margin: 0 auto; 
  background-color: lightgray;
  padding: 8px;
  border-radius: 4px;
}


.search-input {
  flex-grow: 1;
  border: none;
  background-color: lightgray;
  padding: 4px;
  font-size: 16px;
  color: black;
  margin-right: 8px;
}

.search-button {
  margin-left: 8px;
  font-size: 20px;
  color: green;
  margin-right: 8px;
}