<h1>Home</h1>

    <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/users'">
            <mat-card class="card">
                <mat-icon class="card-icon">account_box</mat-icon> <br>
                <mat-card-content>Users</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/property'">
            <mat-card class="card">
                <mat-icon class="card-icon">factory</mat-icon> <br>
                <mat-card-content>Properties</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/tenants'">
            <mat-card class="card">
                <mat-icon class="card-icon">person</mat-icon>  <br>
                <mat-card-content>Tenants</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/contractors'">
            <mat-card class="card">
                <mat-icon class="card-icon">construction</mat-icon> <br>
                <mat-card-content>Contractors</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
        <br>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/employee'">
            <mat-card class="card">
                <mat-icon class="card-icon">group</mat-icon> <br>
                <mat-card-content>Employee</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/broker'">
            <mat-card class="card">
                <mat-icon class="card-icon">real_estate_agent</mat-icon> <br>
                <mat-card-content>Broker</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/maintenace'">
            <mat-card class="card">
                <mat-icon class="card-icon">engineering</mat-icon> <br>
                <mat-card-content>Maintenance</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/calendar'">
            <mat-card class="card">
                <mat-icon class="card-icon">calendar_month</mat-icon> <br>
                <mat-card-content>Calendar</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
        <br>

        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/settings'">
            <mat-card class="card">
                <mat-icon class="card-icon">settings</mat-icon> <br>
                <mat-card-content>Settings</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
    
        <mat-grid-tile>
            <a mat-list-item [routerLink]="'/logout'">
            <mat-card class="card">
                <mat-icon class="card-icon">logout</mat-icon> <br>
                <mat-card-content>Log out</mat-card-content>
            </mat-card>
            </a>
        </mat-grid-tile>
      </mat-grid-list>    